[Unit]
Description=Bloggers Web Application
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/bloggers
Environment="PATH=/var/www/bloggers/venv/bin"
ExecStart=/var/www/bloggers/venv/bin/gunicorn -c gunicorn.conf.py run:app
Restart=always

[Install]
WantedBy=multi-user.target
