[Unit]
Description=Bloggers Web Application
After=network.target

[Service]
User=root
WorkingDirectory=/root/bloggers
Environment="PATH=/root/bloggers/venv/bin"
ExecStart=/root/bloggers/venv/bin/gunicorn -c gunicorn.conf.py run:app
Restart=always

[Install]
WantedBy=multi-user.target
